.navbar {
    background-color: #362cc2;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: white;
    margin: 0;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links li a:hover {
    color: #ffd700;
}


/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}