.navbar {
    background-color: #4b41d7;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: white;
    margin: 0;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links li a:hover {
    color: #ffd700;
}

.hero{
    background-image: url('https://images.unsplash.com/photo-1681301865120-7c74657dc01a?q=80&w=2007&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: white;
    font-size: 48px;
    text-align: center;
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}